<script>
function showPre(){
	$('#preference').jqmShow();
}

function writemode1(){
	alert("fa");
	$(".book_content").css("writing-mode", "tb-rl");
		alert("fa");
}
</script>


<div class="jqmWindow" id="preference" style="background:transparent;border:0px;" >
	<div class="" style="float:left;color:#ffffff;background:transparent;margin-top:8px;width:80px;"> 字体大小 </div>
 	<div class="slider_container" style="float:left;">  
	    <div class="minus"></div>  
	    <div class="slider_bar">  
	      <div id="slider_caption"></div>  
	     <div id="slider1_handle" class="slider_handle ui-slider-handle"></div> 
	    </div>  
	    <div class="add"></div>  
	 </div>
	<div style="clear:both" ></div>
	<div class="" style="float:left;color:#ffffff;background:transparent;margin-top:8px;width:80px;"> 版式 	</div>
	<div class="slider_container" style="float:left;color:#ffffff;">
		<input type="radio" name="writemode">横版</input>
		<input type="radio" name="writemode">竖版（Iphone风格）</input>
		<input type="radio" name="writemode" onclick="writemode1()">竖版（复古）</input>
	</div>
	<div style="clear:both" ></div>
	<div class="" style="float:left;color:#ffffff;background:transparent;margin-top:8px;width:80px;"> 背景色 	</div>
	<div class="slider_container" style="float:left;color:#ffffff;">

	</div>
	<div style="clear:both" ></div>
	<div class="" style="float:left;color:#ffffff;background:transparent;margin-top:8px;width:80px;"> 文字颜色 	</div>
	<div class="slider_container" style="float:left;color:#ffffff;">

	</div>
	<div style="clear:both" ></div>
</div>

<div style="float:right;">

<a href="javascript:void(0);" onclick="showPre();">设置</a>	
</div>
<div ondblclick="showPre();">
	<div class="book_title" style="text-align:center;">21、聂 小 倩</div>	
	<div class="book_content" style="font-size:10pt;">
浙江人氏宁采臣，为人慷慨豪爽，清廉自重。他常常对人说：“我这个人爱情专一，不见异思迁。”
有一次，宁采臣到金华去。走到城北后，他进一座寺庙里休息。只见寺庙大殿宝塔十分壮丽，但地上却长满了比人还高的蓬蒿，显然，这里已好久没有人来过。再往里看，东西两边僧人居住的房舍，门都虚掩着，只有南面一间小屋的门上，好像挂着一把新锁。殿东角有一片修竹，台阶下有个大池子，里边丛生的野藕已经开花。宁采臣很喜欢这个幽静的地方，况且，这期间城里房价飞涨，因为学使大人来到金华，参加考试的学子很多。宁采臣于是决定暂时就住在这座寺庙里。他心想，这寺中的和尚也不知道什么时候回来，我何不散散步等他们呢？宁采臣独自一人在寺中漫步。傍晚时，有个读书人来开南面小屋的门，他赶忙上前行礼，并把自己想在这里留宿的打算告诉给对方。那个读书人说：“这里没有房主，我也是个在这里借宿的人。你不怕冷清住在这里，我早晚都能向你讨教，真是不胜荣幸。”宁采臣很高兴，他铺了些蒿草当床，又架起木板当桌子，看来是准备在这里住些日子。
这天夜晚月光皎洁，宁采臣和那位书生在大殿的走廊里促膝长谈。书生说自己姓燕，叫燕赤霞。宁采臣以为他是来应考的秀才，但听他的口音，一点儿也不像浙江人。一问，才知道他是陕西人。两人说了半天话，才各自回床就寝。宁采臣每次在陌生的地方过夜，总是很久难以入睡。这一次也不例外。正在他欲睡未睡之际，却只见北边房里有人在窃窃私语，好像住有家眷。于是，他起身趴在北墙石窗下，悄悄看了一眼。只见短墙外一个小院落里，有一位四十多岁的妇女，还有一个老太婆，她穿着暗红色外衣，头上插着银梳子，一副老态龙钟的样子。原来是她们俩在月下说话。那妇人说：“小倩为什么很长时间没到这里来？”老太婆说：“或许是她的相好来了吧。”妇人说：“她没向姥姥发牢骚吗？”老太婆回答：“虽没听她发什么牢骚，但她看起来好像心情不愉快。”妇人又说：“对这个小丫头不能太好了！”话未说完，就有个十七八岁的女孩进来了，模样好像很美。老太婆笑着说：“背后不说人，我们两个正说你呢，没想到你这个小妖精悄悄进来了，幸亏我们没说你什么坏话。”老太婆接着说：“小娘子长得好比画中人，我要是个男人，也会被你把魂勾跑。”女孩说：“姥姥不夸奖我几句，还有谁会说我好？”妇人和女孩子说了些什么，宁采臣没有听清。他以为她们是燕书生的亲眷，所以躺回草床不再听她们说话。过了一会儿，寺庙里一片寂静。宁采臣刚要入梦境时，觉得好像有人进了他的卧室。他急忙起身一看，发现是北院那个叫小倩的女孩子进来了。他不由得吃了一惊，问她进来干什么，她说想跟他一起睡。宁采臣一本正经地说：“你不怕别人议论，我还怕别人说闲话呢。偶然一失足，就会成为一个道德沦丧的无耻之徒。”女孩说，夜里没人知道。宁采臣吼道：“快走开！要不然，我就要喊南边小屋里的人了。”听了这话，那女孩有些害怕，只好走开了。刚走出门又转身回来，把一锭金子放在宁的床褥上。宁马上把它扔到院子的台阶上，斥责说：“不义之财，弄脏了我的口袋。”女孩羞愧地拣起金子走了，嘴里还说：“这个男人真是铁石心肠。”
第二天一早，有个兰溪的书生带着一个仆人来应考。他们住在寺庙的东厢房里。不料，书生竟在当天夜里暴死了。死后发现，他的脚板心有个小限孔，像是被锥子刺的，还有一缕缕血丝流出来了。大家都不知道这是怎么回事。过了一个晚上，书生的仆人也死了，他的症状和书生一模一样。晚上，燕生回来了。宁采臣问他知不知道死因，他认为这是鬼魅干的。宁采臣为人耿直，根本没把鬼的事放在心上。到了夜里，那个女孩子又来找他。她对宁采臣说：“我见过的人多了，但没有像你这样刚直的人。你有圣贤人的品德，我不敢欺骗你。我叫聂小倩，十八岁就病死了，埋在这座寺院旁，不幸遭受妖物的威胁，干了不少伤天害理的下贱勾当。我用容颜去迷惑别人，这本来并不是我愿意做的。现在这寺中没有人可以杀，鬼夜叉很可能要来杀你。”宁采臣听了这话，十分惊骇，他请求小倩帮他想办法。聂小倩说：“你跟燕赤霞住在一屋便能免除凶灾。”宁采臣问了一句：“为何不去迷惑燕赤霞？”小倩回答说：“他是个奇人，鬼妖不敢接近他。”宁采臣又问：“你们怎么样去迷惑人呢？”聂小倩说：“和我亲昵的人，我悄悄用锥子刺他的脚心，这样，他很快就昏迷过去了，于是，我再吸他的血给妖怪喝。
有时候，我用金子去勾引，其实那不是金子，而是罗刹鬼的骨头。这东西留在谁那里，就能把谁的心肝掏去。这两种方法，都是迎合而今人们贪色好财的心理。”宁采臣问她什么时候戒备，她说明天晚上。临别时，小倩哭着说：“我掉进了大海，找不到岸。你是仗义君子，一定能救苦救难。如果你能把我的朽骨带到一个清净的地方安葬，我将感激不尽。”宁采臣答应了她的要求，问她的坟在哪里，她说：“请记住，白杨树上有乌鸦巢穴的地方便是。”说完出门，片刻消失不见了。
第二天，宁采臣恐怕燕赤霞外出，便早早到他房里，邀请他喝酒。上午九十点钟，酒菜准备好了。在酒席上，宁采臣留意观察燕赤霞。宁采臣表示想和他同屋睡，燕赤霞推辞说自己喜欢清净，宁采臣不听，到了晚上，强行把铺盖都搬过来了，燕赤霞不得已，只好跟他同睡，他嘱咐宁采臣：“我知道你是个大丈夫，对你也很钦佩。不过，我有些私事，不便明说。请你不要翻看我的小箱子。否则，对你我两人都没好处。”宁采臣很恭敬地答应了。后来，各自就寝。燕赤霞临睡前把小箱子放在窗台上，过了一会儿，他就鼾声如雷。宁采臣半天也睡不着。大约一更时分，他发现窗外隐隐约约有人影，正慢慢靠近窗户朝里看，目光闪闪。宁采臣很害怕，正要喊叫燕赤霞，忽然听见有个东西从小箱子中飞出，像一匹白绸缎闪闪亮，折断窗户上的石格，猛然一射，随即像电光一样熄灭了。这时，燕赤霞醒来起身，宁采臣假装睡着了，在暗中观察他。只见燕赤霞拿起箱子检查，从里面取出一个东西，映着月光嗅了嗅。那东西亮晶晶的，大约有两寸长，一片韭菜叶子大小。然后，燕赤霞把它紧紧包牢，又放进箱子里。燕赤霞自言自语：“什么老妖怪，竟敢有这么大的胆子，把我的箱子都给弄坏了。”于是，他又躺下来。宁采臣觉得太奇怪了，便起身问燕赤霞，并把刚才所看到的情节都告诉了燕赤霞。燕赤霞说：“既然我们已成好朋友，我也就不必再隐瞒了。我是个剑客。要不是那个石格子阻挡，妖怪当时就会死的。虽说它这次没死，但他已受了重伤。”宁采臣问他刚才藏起来的是什么东西，燕赤霞说是剑，并说刚才闻它，上面有股妖气。宁采臣说想看看这柄剑，燕赤霞拿出来给他看，原来，这是一柄亮闪闪的小剑。第二天一早，宁采臣到窗外查看，发现地上有摊血迹。这天，宁采臣走出寺院，在寺院北边，他看见一片荒冢。再一看，果然有棵白杨树，树上有个乌鸦巢。
宁采臣办完事以后，急忙整理行装准备回家。临行前，燕赤霞设宴送行，并把破皮囊赠送给宁采臣，他告诉宁采臣：“这是剑袋。你好好收藏，它可以避妖怪。”宁采臣想跟他学剑术，燕生说：“像你这样信义刚直的君子，本来是可以学的，但你是富贵阶层的人，不是干我这一行的。”宁采臣撒谎说有个妹妹葬在寺院北边，打算迁葬。于是，他挖出聂小倩的朽骨，用衣衾包好，租船返回家。
宁采臣的书斋靠近郊野。他回家后就将小倩的坟建在斋外。建好安葬后，他祭祀说：“可怜你孤零零的，把你葬在我小屋旁边，这样，你的悲欢我都能听见，而且，这里也不会有恶鬼来欺凌你。一杯水酒，不成敬意，请不要嫌弃，把它喝了罢！”他祝福完以后正准备回家，忽然听见身后有人喊道：“请等等我！”回头一看，竟是小倩。聂小倩笑着谢宁采臣：“你的信义，我永远也报答不尽。请让我随同你回去，拜见婆婆，就是做个丫头小妾也心甘情愿。”宁采臣细细打量她，见她肌肤细嫩，小脚尖尖，身材娇娇，妩媚动人。于是，便带她一同回到书斋。宁采臣让她先坐一会儿，他先进去告诉母亲。他母亲听说后感到很吃惊。当时，宁采臣的妻子已病了很长时间，母亲叫他不要声张，以免刺激病人。他们母子正说着话，聂小倩已悄悄进屋，跪在地上拜见宁采臣的母亲。宁采臣介绍说：“这就是小倩。”宁母惊慌地看了看她，心里很害怕。聂小倩说：“我孤单一身，远离父母兄弟。承蒙公子关照，使我摆脱了困境。因此，我愿意侍奉他，以报答他的恩德。”宁母见她模样很可爱，才敢与她说话。宁母说：“姑娘肯照顾我儿子，我这个老太婆当然很高兴。只是我一生仅养了这个儿子，要靠他传宗接代，不敢让他娶个鬼妻。”小倩说：“我真的没有二心。九泉之下的人既然得不到您的信任，那就让我把公子当兄长对待，听候您老人家的吩咐，早晚伺候，行不行？”宁母觉得小倩的话说得很真诚，便答应了。小倩说她想拜见嫂夫人，宁母推辞说宁妻患病在床，多有不便。小倩也就没有去。接着，小倩立即到厨房，给母亲做饭。她在宁采臣家进进出出，穿堂入室，像是来了很长时间一样，一点都不陌生。天黑以后，宁母有些怕她，要她先回去睡觉，却不给她准备床被。小倩意识到这是母亲赶她走的信号，于是，她就走了。经过宁采臣的书房时，她想进去，又不敢进，在门外徘徊。宁采臣叫她，她说：“房里有剑气，叫人害怕。前些时候在路途上不敢见你，就是这个缘故。”宁采臣顿时想起燕赤霞送给他的破皮袋，于是，他赶忙把袋子拿下来挂到别的房间去了。小倩这才进了书房，在烛灯边坐下。坐了半天也没一句话，后来，她问宁采臣：“你晚上读书吗？我小时候念过《楞严经》，现在多半已忘光了。请你帮我找一册，夜晚空闲时我请大哥指点指点。”宁采臣答应了。两个人又无话可讲，小倩也不说告辞。到了二更以后，小倩还坐在书房里不走，宁采臣催她，她伤心地说：“我是外地来的孤魂，特别害怕到荒墓里去。”宁采臣说：“这里没有别的床，而且兄妹之间，也应该避嫌。”小倩站起身，一副愁眉苦脸要哭的样子，想迈步却又迈不开步子。她慢吞吞地走出书房，过了台阶就不见了。宁采臣心里很可怜她，想留她睡在别的床上，又担心母亲会责怪。
第二天一早，小倩向母亲请安，端水给她盥洗，家务活忙个不停，而且，样样都合宁母的心。傍晚时，小倩自动离开书斋。她经过书房时，经常借着烛光念经，直到宁采臣要睡觉时才凄然离去。本来，自从宁妻病倒以后，宁母便操持起所有的家务，她已疲劳不堪。自从小倩来到家以后，宁母就清闲多了。天长日久，宁母和小倩渐渐熟悉，她对小倩也越来越疼爱。到后来，宁母已忘记小倩是个鬼变的，而不忍心晚上叫她走，便把她留下来跟自己一起睡。小倩初来时，不吃不喝，半年后才开始吃点稀饭。宁采臣母子都很喜爱她，从来不说她是鬼。不久，宁妻病逝了。宁母想收小倩做儿媳，但怕她不能生儿育女，小倩说采臣将有三个男孩，不会因为有鬼妻就没有后代。于是，宁家大办酒席，遍请亲友。婚礼那天，小倩穿戴一新，大大方方地出来见亲友，令满堂亲友都看呆了。人们不怀疑她是鬼，而怀疑她是仙人。小倩和采臣结为人鬼夫妇后，生活很美满。几年后，宁采臣考中进士，小倩也生下一个男孩。他们的孩子后来也成了一个有名望的人。
	</div>
</div>
<script>
node = $(".book_content");
var content = node.html();
r = /[\r\n]/g
c = "<p style=\"text-indent:24pt;\">"+content.replace(r, "</p><p style=\"text-indent:24pt;\">")+"</p>";
node.html(c);

$('#preference').jqm();

$(function() {  
	startSize = 12;
	maxSize = 30;
	font_number = maxSize-startSize;
	var unit = 316/font_number;
	var base = unit*startSize;
//	alert(unit+","+base);
	var startSize = parseFloat(startSize, 12);
	$('#slider_caption').hide();  
	var calloutVisible = false;  

	$('.slider_bar').slider({  
//	handle: '.slider_handle',  
	//	startValue:  startSize*100/15 - 53.3 ,  
		min: 0,  
		max: 100,  
		start: function(e, ui) {  	
			$('#slider_caption').fadeIn('fast', function() { calloutVisible = true;});  
			//$('#font_indicator').fadeIn('slow');  
		},  
		stop: function(e, ui) {   
			if (calloutVisible == false) {  
				$('#slider_caption').fadeIn('fast', function() { calloutVisible = true;});  
			//	$('#font_indicator').fadeIn('slow');  
				$('#slider_caption').css('left', ui.handle.css('left')).text(Math.round(ui.value * font_number/100 + startSize));  
			//	$('#font_indicator b').text(Math.round(ui.value * 15/100 + 8 ));  
				$("div.book_content p").animate({fontSize: ui.value * font_number/100 + 8 }).fadeIn("slow");  
			}  
			$('#slider_caption').fadeOut('fast', function() { calloutVisible = false; });  
//			$('#font_indicator').fadeOut('slow');  


		},  

	slide: function(e, ui) {  
			$('.slider_handle').css('left', ui.value+"%");
			$('#slider_caption').css('left', $(ui.handle).css('left')).text(Math.round(ui.value * font_number/100 + startSize ));  
		//	$('#font_indicator b').text(Math.round(ui.value * 15/100 + 8 ));  
			$("div.book_content p").css({fontSize:  Math.round(ui.value * font_number/100 + startSize) }).fadeIn("slow");  
		}
	
	});


	$(".add").click(function(){  
	
		var currentFontSize = $('.book_content p').css('font-size');  	
		var currentFontSizeNum = Math.round(parseFloat(currentFontSize, 10));  
		var newFontSize = currentFontSizeNum+1;  
		if (newFontSize <= maxSize) {  
			$('.book_content p').css('font-size', newFontSize);  
			$('#slider_caption').css('left', newFontSize*unit - base).fadeIn('fast').text(Math.round(newFontSize )).fadeOut(1000);  
			$('.slider_handle').css('left', newFontSize*unit - base);  
		//	$('#font_indicator').fadeIn('slow');  
		//	$('#font_indicator b').text(Math.round(newFontSize ));  
		//	$('#font_indicator').fadeOut('slow');  
		}  
		else{  
		//	$('#font_indicator').fadeIn('slow');  
		//	$('#font_indicator b').text("Isn't 23 big enough?");  
		//	$('#font_indicator').fadeOut('slow'); 
		} 
	
		return false; 
	}); 
	$(".minus").click(function(){ 
		var currentFontSize = $('.book_content p').css('font-size'); 
		var currentFontSizeNum = parseFloat(currentFontSize, 10); 
		var newFontSize = currentFontSizeNum-1; 

		if (newFontSize >= startSize) { 
			$('.book_content p').css('font-size', newFontSize); 
			$('#slider_caption').css('left', newFontSize*unit - base).fadeIn('fast').text(Math.round(newFontSize )).fadeOut(); 
			$('.slider_handle').css('left', newFontSize*unit - base); 
		//	$('#font_indicator').fadeIn('slow'); 
		//	$('#font_indicator b').text(Math.round(newFontSize )); 
		//	$('#font_indicator').fadeOut('slow'); 
		} 
		else{ 
		//	$('#font_indicator').fadeIn('slow'); 
		//	$('#font_indicator b').text("Isn't 8 small enough?");  
		//	$('#font_indicator').fadeOut('slow');  
		}  
		return false;  
	});

});
</script>